html{
    scroll-behavior: smooth;
}
.class{
    border-radius: 1rem;
    background-color: #ee7843;
    border: none;
    position: relative;
    display: inline-block;
}
.class1{
    border-radius: .6rem;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee7843;
    border: none;
}
.nav-link{
    display: inline-block;
    position: relative;
}
.a:hover{
    color: #ee7843;
}
.actives{
    color: darkblue;
}
.navbar{
    position: fixed;
    z-index: 1;
}
.about{
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(107, 139, 19);
    background-color:  #fef8f5;
    display: flex;
    gap: 1rem;
    position: relative;
    margin-top: 58px;
    
}
.aboutus{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    gap: 1rem;
    position: relative;
    margin-top: 55px;
    
}
.colabo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 2rem;
}
.colabo h1{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.colabo h4{
    font-size: 1.5rem;
    font-weight: 100;
}
.colabo img{
    display: inline-block;
    width: 80%;
    height: 80%;

}
.aboutusimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 2rem;
        margin-bottom: 3rem;
}
.aboutusimg img{
    position: relative;
    width: 100%;
    height: 80%;
    display: inline-block;
    visibility: visible;
}
.title{
    font-weight: 200;
}
.ichki-row i{
    font-size: 2rem;
    color: #ee7843;

    margin-bottom: 5px;
}
.icon{
    position: relative;
    width: 100%;
    display: flex;
}
.ichki-row h2{
    font-size: 1.2rem;
}
.ichki-row{
    position: relative;
}
/* portfolio */
.portfolio{
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    margin: 0 auto;
}
.subtitle{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}
.subtitle h1{
    position: relative;
    font-size: 2rem;
    text-align: center;
}
.subtitle h2{
    position: relative;
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
}

.chiziq{
    width: 100px;
    height: 3px;
    background-color: #ee7843;
    margin: 1rem 0;
}
.list{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.rasmlar{
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
    flex-wrap: wrap;
}
.rasm_lar img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 3px 3px 0 white;
}
/* /portfolio */
.services{
    height: auto;
    margin: 0 auto;
    background-color: #fef8f5;
    display: flex;

}

.xizmat_turlari{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;


}
.type_servis{
    height: 300px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
}
.type_servis:hover{
    box-shadow: 0 3px 1px 0 #ee7843;
    transform: translateY(3px);
}
.type_servis i{
    font-size: 3rem;
    color: #ee7843;
    z-index: inherit;
    position: relative;
    display: inline-block;
    margin-bottom: .5rem;
}
/* team */
.team{
    display: flex;
    padding-top: 2rem;
    background-color: #fef8f5;
    height: auto;
    margin-bottom: 2rem;
}
.team_persons{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.team_persons img{
    position: relative;
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 2px 0 3px 0 #fef8f5;

}
.social_media{
    width: 100%;
    height: 40px;
    position: relative;
    background: linear-gradient(to left top, rgb(120, 126, 204), rgb(143, 66, 66));
    top: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 3px 0 #fef8f5;


}
.post{
    width: 100%;
    align-items: center;
    position: relative;
}
.carusel_img{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.carusel_img img{
    width: 100px;
    height: 30px;
}
.footerss{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #ca957a;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.footerss .ism{
    display: inline-block;
    align-items: center;
    color: white;
}
.forma{
    width: 60%;
    margin: 2rem 0;

}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fef8f5;
    margin: 2rem 0 0 0;
    padding-top: 1rem;
}
/* .sky:hover .social_media {
    display: flex;
} */
/* /t
eam */

@media(max-width: 768px){
    .type_servis{
        width: 100%;
    }
    .type_servis p{
        font-size: 1.5rem;
    }
    .colabo{
        display: grid;
    }
    .colabo img{
        order: 1;
    }
    .sky{
        margin-top: 1rem;
    }
}